*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:lightgreen;
    /* border: 1px solid black; */
}
header{
    background-color: lightcoral;
    min-height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
nav,h1{
    background-color:  lightcoral;
}
a{
    color: white;
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    background-color: rgb(35, 87, 255);
    border-radius: 10px;
    margin: 0.3rem;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
}
.container img{
    width: 40vw; 
    height: 88%;
    border-radius: 30px;
    padding: 3px;
}
.container h2{
    font-size: 35px;
    font-weight: bolder;
    width: 90vw;
    text-align: center;
}
main{
    height: 45vh;
    display: flex;
}
.caja{
    height:90%;
    width: 200px;
    margin:1rem;
}
.caja img{
    width: 100%;
    height: 200px;
}
#events{
    width: 83vw;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
    margin: 0;
    padding: 20px;
    border-radius: 30px;
}
#events p{
    text-indent: 50px;
    font-size: 25px;
    font-weight: lighter;
}
footer{
    display: flex;
    min-height: 5vh;
    text-align: center;
    text-indent: 50px;
    font-size: 18px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;

}