* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

header {
    min-height: 5vh;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 3;
}

header h1 {
    align-self: center;
}

nav {
    align-self: end;
}

a {
    text-decoration: none;
    color: darkslateblue;
    font-size: 20px;
    border-radius: 5px;
    margin: 4px;
    font-weight: bold;
    align-self: flex-end;
}

li {
    font-size: 20px;
}

header img {
    height: 100px;
}

main {
    display: flex;
    height: 85vh;
    background-color: antiquewhite;
    flex-wrap: wrap;
}

h3 {
    width: 100%;
}

table {
    border: 1px solid black;
    width: 60%;
    height: 80%;
}

th {
    border: 1px solid black;
}

.contain-in {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
}

main ol li {
    list-style: none;
}

main ol {
    padding: 1rem;
}

footer {
    min-height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}