<<<<<<< HEAD
=======
:root{
    --header-color: aqua;
    --main-color: salmon;
    --footer-color:lightpink;
}
>>>>>>> f77ee4b67d6891a5ffed800df3de759c45ba314e
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(222, 250, 215); */
}
<<<<<<< HEAD
header{
    min-height: 10vh;
    background-color: aqua;
=======

header{
    min-height: 10vh;
    background-color: var(--header-color);
>>>>>>> f77ee4b67d6891a5ffed800df3de759c45ba314e
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 3;
}
header h1{
    align-self: center;
}
nav{
    align-self: end;
}
header img{
    height: 100px;
}
a{
    text-decoration: none;
    color: darkslateblue;
    font-size: 25px;
    border-radius: 5px;
    margin: 4px;
    font-weight: bold;
    align-self: flex-end;
}
<<<<<<< HEAD

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40vh;
    align-items: center;
    justify-content: space-around;
}
.container img{
    width: 40vw; 
    height: 80%;
    border-radius: 30px;
    padding: 1px;
}
.container h2{
    font-size: 40px;
    font-weight: bolder;
    width: 90vw;
    text-align: center;
}
main{
    background-color: rgb(222, 250, 215);
    height: 45vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.caja{
    margin:1rem;
    border-radius: 30px;
}
#logo{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caja img{
    width: 90%;
}
a:hover{
    transform: scale(1.3);
    background-color: green;
}

#events{ 
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}
#events p{
    margin: 1rem;
    height: 4%;
    text-indent: 50px;
    font-size: 25px;
    font-weight: lighter;
}
footer{
    background-color: rgb(241, 215, 250);
    display: flex;
    min-height: 4vh;
    text-align: center;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}
=======
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-color);
    height: 85vh;
}
section{
    display: flex;
    width: 100vw;
}
section img{
    width: 0px;
    height: 300px;
    flex-grow: 1;
    object-fit: fill;
    opacity: .8;
    transition: 0.5 ease;
    padding: 5px;
    border-radius: 40px;
}
section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}
div{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: blue;
}
table{
    width: 50%;
    height: 40%;
}
thead{
   font-size: 35px
}
table th:hover{
    font-size: 25px;
    background-color: lightblue;
}
#headin{
    background-color: rgb(31, 156, 156);
    font-size: 25px;
    border-radius: 10px;
    width: 80px;
}
#events-in{
    text-align: left;
}
tr th{
    background-color: rgb(79, 157, 206);
    font-size: 20px;
}
footer{
    background-color: var(--footer-color);
    min-width: 5vw;
    min-height: 4vh;
    text-align: center;
}
>>>>>>> f77ee4b67d6891a5ffed800df3de759c45ba314e
